@model TinyShoppingCart.Presentation.Admin.ViewModels.ViewProductCategoryViewModel

<div class="form-row mb-4">
    <div class="col">
        <input type="text" id="searchText" class="form-control" placeholder="Search category name">
    </div>

    <button type="button" id="searchButton" class="btn btn-primary ml-sm-3">Search</button>
    <button type="button" id="expandCollapseAllButton" class="btn btn-primary ml-sm-3">Expand All</button>
</div>

<div class="row">
    <div class="col-12">
        <!-- Tree view-->
        <div id="divTree">
            @await Html.PartialAsync("_TreePartial", Model)
        </div>


        <!-- Create popup-->
        <jqx-window id="creatingWindow" autoOpen="false" width="50%" height="300" theme="@ViewBag.Theme">
            <jqx-window-header><h4>Create Category</h4></jqx-window-header>
            <jqx-window-body>
            </jqx-window-body>
        </jqx-window>

        <!-- Update popup-->
        <jqx-window id="editingWindow" autoOpen="false" width="50%" height="300" theme="@ViewBag.Theme">
            <jqx-window-header><h4>Update Category</h4></jqx-window-header>
            <jqx-window-body>
            </jqx-window-body>
        </jqx-window>

    </div>
</div>

@section scripts
{
    @Html.Partial("_jQWidgetsTreeScriptsPartial")
    @Html.Partial("_ValidationScriptsPartial")
    @Html.Partial("_AjaxScriptsPartial")

    <environment include="Development">
        <script type="text/javascript" src="~/lib/jqwidgets/jqxdropdownbutton.js"></script>
        <script type="text/javascript" src="~/lib/jqwidgets/jqxmenu.js"></script>
        <script type="text/javascript" src="~/lib/jqwidgets/jqxwindow.js"></script>
        <script type="text/javascript" src="~/lib/jqwidgets/jqxlistbox.js"></script>
        <script type="text/javascript" src="~/js/integrate-bootstrap-jquery-unobtrusive.js"></script>
        <script type="text/javascript" src="~/js/jqxtree-utilities.js"></script>
        <script type="text/javascript" src="~/js/form-utilities.js"></script>
        <script type="text/javascript" src="~/js/product-category/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/lib/jqwidgets/jqxdropdownbutton.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/jqwidgets/jqxmenu.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/jqwidgets/jqxwindow.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/jqwidgets/jqxlistbox.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/integrate-bootstrap-jquery-unobtrusive.js"></script>
        <script type="text/javascript" src="~/js/jqxtree-utilities.js"></script>
        <script type="text/javascript" src="~/js/form-utilities.js"></script>
        <script type="text/javascript" src="~/js/product-category/index.js" asp-append-version="true"></script>
    </environment>
}